/* ----------- Box Sizing ------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ----------- Global Styles ------------- */

body {
    background-color: white;
    font-family: "Alan Sans", sans-serif;
    margin: 0;
}

/* ----------- Header Styles ------------- */

header.primary {
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px gray;
    /* long form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* Single value short hand */
    padding: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
    }

header.primary h1 {
    font-size: 3rem;
    color: #ffffff
    ;
}

header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
}

header.primary a {
    color: #ffffff;
    text-decoration: none;
}

header.primary h2 a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 1.5rem;
}

header.primary nav {}

header.primary nav ul {
    padding: 0;
}

header.primary nav li {
    list-style-type: none;

}

header.primary nav a {
    color: #ffffff;
    text-decoration: none;
}
